<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<link rel="icon" href="{{ '/static/favicon.png'|asseturl }}">
<title>kevbot.xyz — {% block title %}Welcome{% endblock %} </title>
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.kevbot.xyz/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
<body>
  <header>
    <a href="{{ site.root|url }}" style="text-decoration: none;">
      <h2 alt="Kevbot" class="logo">Kevbot.xyz by Kevin Leutzinger</h2>
    </a>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Home</a></li>
        {% for href, title in [
          ['/about', 'About'],
          ['/blog', 'Blog'],
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
        <li><a href="{{ '/blog@atom/feed'|url }}">RSS</a></li>
        <li><a href="https://kevinleutzinger.com">Portfolio</a></li>
        <li><a href="https://www.youtube.com/@KevbotSSBM">Youtube</a></li>
        <li><a href="https://vods.kevbot.xyz">Melee VODs</a></li>
        <li><a href="https://status.kevbot.xyz">Status</a></li>
        <li><a href="https://github.com/kleutzinger">Github</a></li>
        <li><a href="https://www.linkedin.com/in/kevin-leutzinger-556758114/">Linkedin</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <button onclick="myFunction()">Expert Mode</button>
    <ul id="footer-nav" class="tree-nav" style="display: none;">
      {% set root = site.get('/') %}
      <li>
        <a href="{{ root|url }}">{{ root.title }}</a>
      </li>
      {% for child in root.children recursive %}
        <li>
          <a href="{{ child|url }}">{{ child.path }}</a>
        </li>
        {% if child.children %}
          <ul>{{ loop(child.children) }}</ul>
        {% endif %}
      {% endfor %}
    </ul>

  </footer>
  <script>
    function myFunction() {
      var x = document.getElementById("footer-nav");
      if (x.style.display === "none") {
          x.style.display = "block";
      } else {
          x.style.display = "none";
      }
    }
  </script>
  <script type="text/javascript">(function () {
      const cdn_script_url = 'https://cdn.jsdelivr.net/npm/kevbadge/kevbadge.js';
      let kevbadge = document.createElement('script'); kevbadge.type = 'text/javascript'; kevbadge.async = true;
      kevbadge.src = cdn_script_url;
      let s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(kevbadge, s);
    })();
  </script>
</body>
